@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.button {
  background-color: $normalBtn;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  border-radius: $border-radius-m;
  outline: none;
  border: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &_fullWidth {
    width: 100%;
  }

  &:disabled {
    background-color: $disabledBtn;
    pointer-events: none;
  }

  &:active {
    background-color: $inputCorrect;
  }
}

.buttonText {
  @include setFont(18px, $whiteText, 400, 120%, $font-raleway);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
