@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.button {
  width: 100%;
  height: 50px;
  background-color: $normalBtn;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  border-radius: $border-radius-m;
  outline: none;
  border: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:disabled {
    background-color: $disabledBtn;
    pointer-events: none;
  }
}

.buttonText {
  @include setFont(18px, $whiteText, 400, 120%, $font-raleway);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// .button {
//   width: 100%;
//   // height: 50px;
//   padding: 10px 20px;
//   font-size: 14px;
//   font-weight: 600;
//   cursor: pointer;
//   background: linear-gradient(to bottom, $normalBtn, #9ba8f9);
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   color: #333;
//   transition: all 0.2s;
//   font-family: inherit;

//   &:hover {
//     background: linear-gradient(to bottom, #e8e8e8, #d8d8d8);
//     transform: translateY(-1px);
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//   }

//   &:active {
//     transform: translateY(0);
//   }
// }
