@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.button {
  width: 100%;
  height: 50px;
  background-color: $normalBtn;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  border-radius: $border-radius-m;
  outline: none;
  border: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {opacity: 0.8;}
  }

  &:disabled {
    background-color: $disabledBtn;
    pointer-events: none;
  }
}

.buttonText {
  @include setFont(18px, $whiteText, 400, 120%, $font-raleway);
}