@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.piece {
  // width: 100%;
  // height: 100%;
  // width: 80px;
  // height: 80px;
  position: absolute;
  cursor: pointer;
  background-color: lightblue;

  // border: 1px solid $exampleBorderColorRGBA;
  @include setFont(32px, $whiteText, 600, 120%, $font-raleway);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  // transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
  will-change: transform;
  // transition: transform 0.2s ease-in-out;

  &_disabled {
    pointer-events: none;
    opacity: 50;
    background-color: $inputCorrect;
  }

  &_winColor {
    background-color: $activeItem;
  }
}