@use "@styles/colors.scss" as *;
@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.piece {
  position: absolute;
  cursor: pointer;
  background-color: lightblue;

  @include setFont(32px, $whiteText, 600, 120%, $font-raleway);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: transform 0.3s;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;

  &_disabled {
    pointer-events: none;
    opacity: 50;
    background-color: $inputCorrect;
  }

  &_winColor {
    background-color: $activeItem;
  }
}
