@use "@styles/colors.scss" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: rgb(62,62,62);

  &_win {
    background-color: $inputCorrect;
  }
}
