@use "@styles/colors.scss" as *;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  // border: 1px solid $borderColorRGBA;

  &_win {
    outline: 4px solid $inputCorrect;
    border: none;
  }
}
