@use "@styles/colors.scss" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  // padding: 20px 0;
  // background-color: rgb(62,62,62);
  border: 1px solid $borderColorRGBA;

  &_win {
    outline: 4px solid $inputCorrect;
    border: none;
  }
}
