@use "@styles/" as *;

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 100dvh;
  background-color: $drawer-background;
  z-index: $z-index-drawer;

  transform: translateY(-100%);
  transition: transform 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.drawer_open {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: $z-index-backdrop;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop_open {
  opacity: 1;
  pointer-events: all;
}
