$blackBg: rgb(32, 32, 32);
$whiteText: white;
$whiteBg: white;
$blackText: rgb(32, 32, 32);
$textGreen: #1ADA47;
$disabledBtn: gray;
$normalBtn: #3577F3;
$activeItem: #35F374;
$inputOutline: #3577F3;
$inputIncorrect: rgb(255, 88, 88);
$inputCorrect: #1ADA47;
$borderColorRGBA: rgba(120, 120, 120, 0.4);
$exampleColor: #3577F3;
$exampleBorderColorRGBA: rgba(53, 119, 243, 0.2);
