@mixin setFont($size: null, $color: null, $weight: null, $lh: null, $ff: null) {
  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  } 

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $ff {
    font-family: $ff, sans-serif;
  }
}