$font-raleway: "Raleway";
$font-open-sans: "Open Sans";
$border-radius-m: 8px;
$input-font-size: 32px;

$screen-xs: 500px;
$screen-s: 600px;
$screen-m: 768px;
$screen-l: 1024px;

//Spaces
$space-xxxl: 48px;
$space-xxl: 32px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$space-button-v: 17px;
$space-button-h: 32px;
$space-pagination: 15px;
$space-backbutton-v: 12px;
$space-backbutton-h: 13px;

$fs-44: 44px;
$fs-32: 32px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$lh-48: 48px;
$lh-36: 36px;
$lh-24: 24px;
$lh-22: 22px;
$lh-20: 20px;
$lh-18: 18px;
$lh-14: 14px;

$ls-0: 0px;