.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.main,
.footer {
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

// .header {
//   place-content: center;
// }

.divider {
  margin-top: 8px;
  margin-bottom: 16px;
}
