@use "@styles/colors.scss" as c;
@use "@styles/mixins.scss" as m;
@use "@styles/variables.scss" as v;

.container {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 20px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include m.setFont(24px, c.$textGreen, 600, 120%, v.$font-raleway);
  opacity: 0.8;
}
