.App {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px 20px 20px;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}